<div
  class="card shadow-effect"
  *ngIf="postData"
  [routerLink]="['/post', postData.id]"
>
  <div
    class="img-post"
    [ngStyle]="{ backgroundImage: 'url(' + postData.data.postImgPath + ')' }"
  ></div>
  <div class="card-body">
    <small class="bg-light text-danger text-center">{{
      postData.data.category.category
    }}</small>
    <small
      class="bg-light text-success text-center ms-3"
      *ngIf="postData.data.isFeatured"
      >Featured</small
    >
    <small class="bg-light text-info text-center ms-3"
      >Views - {{ postData.data.views }}</small
    >
    <h5 class="mt-1">{{ postData.data.title }}</h5>

    <p class="post-excerpt">
      {{ postData.data.excerpt }}
    </p>

    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATE - {{ postData.data.createdAt.toMillis() | date }}
    </small>
  </div>
</div>
