@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #026467;
  --secondary-color: #e5f5ea;
  --body-text-color: #596392;
  --navbar-footer-color: #f9f9f9;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
}

.scroller {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #55aa55;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88dd88;
}

.site-logo {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
}
.nav-link {
  color: var(--primary-color);
}
.shadow-effect {
  border: none;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
.bg-theme {
  background-color: var(--primary-color);
}
.bg-secondary-theme {
  background-color: var(--secondary-color);
}
.text-theme-primary {
  color: var(--primary-color);
}

input[type="text"],
input[type="email"] {
  height: 60px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
}
.btn-theme {
  color: var(--secondary-color);
  height: 58px;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
}
