<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card p-5 shadow-effect bg-secondary-theme">
        <div class="card-body">
          <div class="text-center">
            <h3 class="text-theme-primary">Login</h3>
            <p>Please login to your admin account to post a new blog post</p>
          </div>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email" />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
            <div class="d-grid">
              <button class="btn btn-theme btn-info">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
